#page-send-data {
  width: 100vw;
  height: 100vh;
}

#page-send-data .progress {
  width: 90%;
  display: block;
  margin: 3.6rem auto;
}

#page-send-data .send-data-content form {
  display: flex;
  flex-direction: column;
}

#page-send-data .form-group {
  max-width: 74rem;
  margin: 1.6rem;
  padding: 1.6rem;
  overflow: hidden;
  background: var(--color-cinza-fundo);
  border: 1px solid var(--color-azul-de-fundo);
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

#page-send-data .form-group fieldset {
  min-inline-size: auto;
  border: 0;
  margin-right: 0.8rem;
}

#page-send-data .form-group legend {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.6rem;
}

#page-send-data .form-group legend h3 {
  font-size: 1.8rem;
}

#page-send-data .form-group legend svg{
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1.6rem;
}

#page-send-data .form-group .input-block input[type=text],
#page-send-data .form-group .input-block input[type=email],
#page-send-data .form-group .input-block input[type=tel],
#page-send-data .form-group .input-block input[type=number]{
flex: 1;
background: white;
border-radius: 8px;
border: 1px solid var(--color-azul-de-fundo);
padding: 2rem 1.6rem;
height: 2.4rem;
font-size: 1.4rem;
color: var(--color-texto-escuro);
}

#page-send-data .send-type {
  margin: 1.6rem 1.6rem 0;
  padding: 1.6rem 1.6rem 0;
}

#page-send-data .send-type .radio-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#page-send-data .send-type .radio-block + .radio-block {
  margin-top: 4rem;
}

#page-send-data .right-bar {
  max-width: 48rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
}

#page-send-data .right-bar > button {
  display: flex;
  align-items: center;
  margin: 4rem auto;
  background: none;
  border: 0;
  color: var(--color-amarelo-escuro);
  font: 700 1.6rem Archivo;
  cursor: pointer;
  transition: color 0.2s;

}

#page-send-data .right-bar .link svg {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 0.8rem;
}

@media (min-width: 700px) {
  #page-send-data .progress {
    width: 60rem;
  }

  #page-send-data .send-data-content form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0 4rem;
  }

}

@media (min-width: 1100px) {
  #page-send-data .send-type {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 74rem;
  }
  #page-send-data .send-type .radio-block + .radio-block {
    margin-top: 0;
    margin-right: 3rem;
  }

  #page-send-data .field-group {
    display: grid;
    grid-auto-flow: column;
  }

  #page-send-data .field-group .input-block + .input-block {
    margin-left: 1.6rem;
  }
}
