.waiting-content  {
  width: 90vw;
  background: var(--color-cinza-fundo);
  padding: 2.4rem;
  margin: 0 auto;
  border: 1px solid var(--color-azul-de-fundo);
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
}

.waiting-content h3 {
  font-size: 2.8rem;
  text-align: center;
  padding: 2.4rem;
}
.waiting-content strong {
  display: block;
  max-width: 64rem;
  text-align: center;
  align-self: center;
}

.waiting-content strong em {
  font: 700 1.6rem Archivo;
  color: var(--color-pagseguro);
}

.waiting-content .pagseguro {
  width: 24rem;
  max-width: 35rem;
  align-self: center;
  padding: 1.6rem;
}
.waiting-content .icon {
  width: 10rem;
  align-self: center;
  padding: 1.6rem;
}

@media (min-width: 700px) {
  .waiting-content  {
    width: 50vw;
  }
}
