.top-bar-container {
  width: 100%;
  height: 5rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.8rem 1.6rem;
  background: var(--color-azul-de-fundo);
}

.top-bar-container a{
  text-decoration: none;
  font-size: 2rem;
  color: var(--color-texto-escuro);
}

.top-bar-container a:hover {
  color: var(--color-texto-link);
}

.top-bar-session a {
  text-decoration: none;
  font-size: 2rem;
  color: var(--color-texto-escuro);
  padding-left: 3.2rem;
}

.top-bar-session a:hover {
  color: var(--color-texto-link);
}


.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(0deg, white 5%,  var(--color-rosa-claro) 150%);
}

.header-content > img {
  width: 80%;
  margin: 0.8rem 1.6rem;
}

.header-content .logo-container {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem 0;
}

.header-content .logo-container h2 {
  font-size:  7vw;
  font-weight: 400;
  font-family: Poppins;
  text-align: center;
  padding-bottom: 0.8rem;
}

.header-content .logo-container img {
  width: 60%;
  max-width: 28.5rem;
}

.words {
  text-align: center;
  font: 400 2rem Poppins;
  margin-top: 0.4rem;
}

@media (min-width: 300px) {
  .header-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "img logo"
      "words words"
    ;
  }

  .header-content > img {
    grid-area: img;
    margin-left: 0.8rem;
    width: 100%
  }

  .header-content .logo-container{
    grid-area: logo;
    justify-self: end;
    padding-right: 1rem;
  }

  .header-content .logo-container h2 {
    /* font-size:  1.1rem; */
    font-size:  2.8vw;
  }

  .header-content .logo-container img {
    width:  49vw;
  }

  .words {
    grid-area: words;
    padding: 1.6rem 2.4rem;
  }

}

@media (min-width: 550px) {
  .header-content .logo-container h2 {
    font-size:  1.6rem;
  }
}

@media (min-width: 750px) {

  .header-content > img {
    max-width: 24rem;
    margin-top: 3rem;
  }

  .header-content .logo-container {
    min-width: 28rem;
    align-items: flex-end;
    padding-right: 3.2rem;
  }

  .header-content .logo-container h2 {
    font-size: 1.3vw;
    text-align: end;
  }

  .header-content .logo-container img {
    width: 25vw;
    max-width: 28.5rem;
  }

  .words {
    font: 400 2.4vw Poppins;
  }
}

@media (min-width: 850px) {
  .header-content {
    grid-template-columns: 5fr 9fr 7fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "img words logo"
    ;
  }

  .header-content > img {
    padding: 3rem 2rem 5rem;
    justify-self: center;
  }

  .words {
    grid-area: words;
    justify-self: center;
    font: 400 2vw Poppins;
    padding-top: 9rem ;
  }

}
