#product-item {
  background: var(--color-rosa-fundo);
  border: 2px solid var(--color-azul-de-fundo);
  border-radius: 1rem;
  padding: 1.6rem 2.4rem;
  margin: 2.4rem;
  display: grid;
  grid-template-columns: 3fr auto 1fr;
  grid-template-rows: 2fr 1fr auto;
  grid-template-areas:
    "imagem descricao lixeira"
    "quantidade quantidade quantidade"
    "subtotal subtotal subtotal"
  ;
}

#product-item .image-container {
  grid-area: imagem;
  width: 6.4rem;
  margin-top: 0.8rem;
}

#product-item .image-container img {
  width: 100%;
  border-radius: 0.8rem;
}

#product-item .description-container {
  grid-area: descricao;
  padding: 0.8rem 0.8rem 0;
}

#product-item .description-container strong a {
  font-size: 1.2rem;
  display: block;
  text-align: left;
  margin-bottom: 0.4rem;
  text-decoration: none;
  color: var(--color-texto-escuro)
}

#product-item .description-container span {
  font: 700 1.4rem Arima Madurai;
  color: var(--color-rosa-claro);
  align-self: baseline;
}

#product-item .button-container {
  padding-left: 0.8rem;
  text-align: end;
}

#product-item .button-container button {
  grid-area: lixeira;
  width: 3rem;
  height: 3rem;
  background-color: white;
  border: 0;
  border-radius: 50%;
  margin: 0.4rem;
  cursor: pointer;
  transition: 0.2s;
}

#product-item .button-container button:hover {
  color: var(--color-texto-link);
}

#product-item .quantity {
  grid-area: quantidade;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0.8rem 0 0.8rem 1.6rem;
}

#product-item .quantity span {
  font: 400 1.6rem Archivo;
  padding-right: 1.6rem;
}

#product-item .quantity div{
  display: flex;
  flex-direction: row;
}

#product-item .quantity button {
  width: 2.4rem;
  height: 2.4rem;
  background: var(--color-amarelo-claro);
  border: 0;
  cursor: pointer;
  transition: 0.2s;
}

#product-item .quantity button:hover {
  background: var(--color-amarelo-escuro);
}

#product-item .quantity h6 {
  font: 700 1.6rem Arima Madurai;
  width: 6rem;
  height: 2.4rem;
  text-align: center;
  background-color: white;
  border: 1px solid var(--color-azul-de-fundo);
}

#product-item .subtotal {
  grid-area: subtotal;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 1.6rem;
  margin: 0.2rem 0;
}

#product-item .subtotal h5 {
  font: 700 1.6rem Archivo;
}


#product-item .subtotal em {
  font: 700 1.6rem Arima Madurai;
  color: var(--color-rosa-claro);
}

@media (min-width: 500px) and (max-width: 699px) {
  #product-item {
    grid-template-columns: 2fr 6fr 1fr;
    grid-template-rows: 3fr, 2fr 2fr;
    grid-template-areas:
    "imagem descricao lixeira"
    "imagem quantidade quantidade"
    "subtotal subtotal subtotal"
  ;
  }

  #product-item .image-container {
    width: 100%;
  }

  #product-item .image-container img {
    border-radius: 0.8rem;
  }

  #product-item .description-container {
    padding-left: 1.6rem;
  }

  #product-item .description-container strong {
    font-size: 1.6rem;
  }

  #product-item .description-container span {
    font-size: 1.6rem;
  }

  #product-item .quantity {
    padding: 0;
  }

  #product-item .subtotal {
    margin-top: 0.8rem;
    margin-left: 1.6rem;
    padding: 0 1.6rem;
  }
}

@media (min-width: 700px) {
  #product-item {
    width: 50vw;
    margin-left: 2vw;
  }
}

@media (min-width: 750px) {
  #product-item {
    grid-template-columns: 2fr 2fr 4fr 1fr;
    grid-template-areas:
      "imagem descricao descricao lixeira"
      "imagem quantidade quantidade quantidade"
      "subtotal subtotal subtotal subtotal"
    ;
    padding: 1.4rem;
  }

  #product-item .image-container {
    width: 6rem;
  }

  #product-item .image-container img {
    border-radius: 0.8rem;
  }

  #product-item .description-container {
    padding-left: 0.8rem;
  }

  #product-item .subtotal {
    margin-top: 0.8rem;
    margin-left: 1.6rem;
    padding: 0 1.6rem;
  }

  #product-item .quantity {
    padding: 0;
  }

  #product-item .quantity span {
    font-size: 1.4rem;
  }

  #product-item .quantity button {
    width: 2rem;
    height: 2rem;
    font-size: 1.4rem;
  }

  #product-item .quantity h6 {
    width: 3.6rem;
    height: 2rem;
    font-size: 1.4rem;
  }
}

@media (min-width: 800px) {
  #product-item {
    grid-template-columns: 2fr 6fr 1fr;
    grid-template-areas:
    "imagem descricao lixeira"
    "imagem quantidade quantidade"
    "imagem subtotal subtotal"
  ;
  }

  #product-item .image-container {
    width: 8vw;
    max-width: 9rem;
    justify-self: center;
  }
}


