#page-details {
  width: 100vw;
  height: 100vh;
}

#page-details main {
  margin: 7.2rem auto;
  width: 90%;
}

.detail-item { /*article*/
  background: var(--color-rosa-fundo);
  border: 1px solid var(--color-azul-de-fundo);
  border-radius: 1.6rem;
  padding: 0 1.6rem;

  }

.detail-item header {
  margin-top: 1.6rem;
  padding: 1.2rem 0;
  font: 600 1.2rem Archivo;
  text-align: center;
  border-bottom: 2px solid var(--color-rosa-separador);
}

.detail-item .detail-content {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid var(--color-rosa-separador);
  padding-bottom: 2.4rem;
}

.detail-item .detail-preview {
  margin-top: 1.6rem;
  padding: 0.8rem 2rem;
}

.detail-item .carousel .control-prev.control-arrow:before {
  border-right: 8px solid var(--color-texto-escuro);
}

.detail-item .carousel .control-next.control-arrow:before {
  border-left: 8px solid var(--color-texto-escuro);
}

.detail-item .detail-description {
  margin-bottom: 2.4rem;
}

.detail-item .detail-description h4 {
  margin: 1.6rem;
  padding: 0.8rem 0;
  font: 600 1.4rem Archivo;
  text-align: center;
  border-bottom: 2px solid var(--color-rosa-separador);
}

.detail-item .detail-background {
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas:
    "description description"
    "logo quantity"
    "logo price"
  ;

  background-color: #FFFFFF;
  margin: 0.4rem;
  padding: 1.6rem 2rem 0;
  border-radius: 0.8rem;
}

.detail-item .detail-background p {
  grid-area: description;
  text-align: justify;
  font-size: 1.2rem;
  margin: 0;
}

.detail-item .detail-description img {
  grid-area:logo;
  align-self: center;
  justify-self: self-start;
  width: 5rem;
  color: var(--color-rosa-claro);
}

.detail-item .detail-description em {
  grid-area: quantity;
  justify-self: flex-end;
  font: 700 1.4rem Arima Madurai;
  padding-top: 2.4rem;
  padding-right: 1.6rem;
  color: var(--color-texto-claro);
}

.detail-item .detail-description span {
  grid-area: price;
  justify-self: end;
  font: 700 3.6rem Arima Madurai;
  color: var(--color-rosa-claro);
  padding: 0 1.6rem;
}

.detail-item footer {
  margin: 3.2rem 0;
  display: grid;
  justify-items: center;
}

.detail-item footer button {
  width: 24rem;
  height: 6rem;
  background: var(--color-amarelo-claro);
  color: var(--color-texto-escuro);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 600 2rem Archivo;
  transition: 0.2s;
}

.detail-item footer button:hover {
  background: var(--color-amarelo-escuro);
}

@media (max-width: 350px) {
  .detail-item .detail-description {
    justify-content: center;
  }

  .detail-item .detail-description img {
    display: none;
  }

  .detail-item .detail-description span {
    font: 700 10vw Arima Madurai;
  }
}

@media (min-width: 700px) {
  .detail-item {
    width: 90%;
    margin: 0 auto;
  }

  .detail-item .detail-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .detail-item .detail-preview {
    width: 40vw;
    margin-bottom: auto;
    margin-top: 6rem;
  }

  .detail-item .detail-description {
    margin-left: 2rem;
    margin-bottom: 2.4rem;
  }

  .detail-item .detail-description h4 {
    padding: 3.2rem 0 0.8rem;
  }
}

